<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>填写您的信息</title>
</head>
   <body>
      {% with messages = get_flashed_messages() %}
         {% if messages %}
            {% for message in messages %}
               {{ message }}
            {% endfor %}
         {% endif %}
      {% endwith %}
      <form action="http://localhost:5000/return_ret" method=post>
            <table>
                    <tr>
                        <label for="username">用户名</label>
                        <td><input type="text" name='username' placeholder="Username"></td>
                    </tr>
                    <tr>
                        <label for="password">密码</label>
                        <td><input type="password" name='password' placeholder="Password"></td>
                    </tr>
                    <tr>
                            <label for="email">电子邮箱地址</label>
                            <td><input type="text" name='email' placeholder="Email"></td>
                    </tr>
                    <tr>
                            <td><input type="submit" value="获取验证码"></td>                       
                    </tr>
                    
                    
                    
                </table>
      </form>
      <form action='http://localhost:5000/return_ret' method="POST">
         <table>
             <tr>
                 <label for="mailcode">验证码</label>
                 <td><input type="text" name='mailcode' placeholder="Mailcode"></td>
             </tr>
             <tr>
                 <td><input type="submit" value="确认注册"></td>   
             </tr>
         </table>
     </form>
      <script type="text/javascript" language="javascript">
        function submitYouFrom(path){
         $('form1').action=path;
         $('form1').submit();
        }
      </script>

   </body>
</html>